# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Faculta\An2\an2_sem2\MPP\Proiect\mpp-proiect-repository-cristianPanaite\Proiect1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
